@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

:root{
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --shadow-color: rgba(0, 0, 0, .2);
    --white-color: #fdfdfd;
    --nav-color: #d1eec8;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{ 
    background: var(--bg-color);
    color: var(--text-color);
    
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background-color: #FA7921;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;

}

.nav_bar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
    
}

.nav_bar a.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: .2rem;
    bottom: -6px;
    background: var(--white-color);
}

#darkMode-icon{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;   
}

.home{
    display: flex;
    align-items: center;
}

.home .home-content{
    max-width: 44rem;

}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

.home-content h1{
    font-size: 4.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
}

.home-content p{
    font-size: 1.6rem;
}

.home-content .social_media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social_media a:hover{
    background-color: var(--main-color);
    color: var(--white-color);

}

.btn{
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: .1rem;
    border: .2rem solid transparent;
    font-weight: 600;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);

}

.home .profession_container{
    position: absolute;
    top: 55%;
    right: 0;
    transform: translateY(-50%);
    width: 868px;
    height: 868px;
    overflow: hidden;
    pointer-events: none;
    
   
}

.home .profession_container .profession_box{
    position: absolute;
    top: 0;
    right: 0;
    width: 868px;
    height: 868px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .profession_box .profession{
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 434px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession_box .profession:nth-child(1){
    margin-right: 15px;
}

.home .profession_box .profession:nth-child(2)
.home .profession_box .profession:nth-child(4){

    padding-bottom: 20px;
}


.home .profession i{
    font-size: 3.8rem;
}

.home .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession_box .circle{
    width: 660px;
    height: 660px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession_container .overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 434px solid var(--main-color);
    border-bottom: 434px solid var(--main-color);
    border-right: 434px solid var(--main-color);
    border-left: 434px solid transparent;

}

.home_img img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 75%;
    width: 26%;
    margin-bottom: 3.2rem;
    pointer-events: none;
}


span{
    color: var(--main-color)
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

}

.about_img img{
    width: 40vw;

}

.heading{
    font-size: 4.5rem;
    text-align: center;
}

.about_content h2{
    text-align: left;
    line-height: 1.2;
}

.about_content h3{
    font-size: 2rem;
}

.about_content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services{
    min-height: auto;
    padding-bottom: 7rem ;
}

.services h2{
    margin-bottom: 5rem;
}

.services .services_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem
}

.services_container .services_box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: 6rem solid var(--main-color);
    border-bottom: 6rem solid var(--main-color);
    transition: .5s ease;
}

.services_container .services_box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}

.services_box i{
    font-size: 7rem;
    color: var(--main-color)

}

.services_box h3{
    font-size: 2.6rem;
    transition: .5 ease;
}

.services_box:hover h3{
    color: var(--main-color);
    
}

.services_box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.potfolio{
    padding-bottom: 10rem;

}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.portfolio_container .portfolio_box{
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio_box img{
    width: 50%;
    transition: .5 ease;
}

.portfolio_box:hover img{
    transform: scale(1.1);
}

.portfolio_box .portfolio_layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #3a3a3a);
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio_box:hover .portfolio_layer{
    opacity: 1;
}

.portfolio_layer h4{
    font-size: 3rem;
}

.portfolio_layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;

}

.portfolio_layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portfolio_layer a i {
    font-size: 2rem;
    color: #333;
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}

.contact form .input-box input{
    width: 49%;
}

.contact form .btn{
    margin-top: 3rem;
    cursor: pointer;
}

.footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}
.footer-text p {
    font-size: 1.6rem;
    color:var(--white-color);
}

.footer-iconTop a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: 2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover{
    outline-color: var(--white-color);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color:#333;
}

/*BREAKPOINTS*/

@media (max-width: 1200px) {

    html{
        font-size: 55%;

    }

    .home .profession_container .profession_box {
        right: -12rem;
        height: 85.8rem;
    }
    
    .home .profession_container .overlay{
        right: -9rem;
    }
}

@media (max-width: 1024px) {

        .header{
            padding: 2rem 3%;
        }

        section{
           padding: 10rem 3% 2rem; 
        }

        .home .profession_container .portfolio_box {

            right: -22rem;
        }

        .home .profession_container .overlay{
            right: -15rem;
        }
    }

@media (max-width: 991px) {

    .nav_bar a:nth-child(1),
    .nav_bar a:nth-child(2){
        color: var(--main-color)
    }

    .home .home-content{
        max-width: -50rem;
    }

    .home .profession_container .profession_box {

        right: -45rem;
    }

    .home .profession_container .overlay{
        right: -39.5rem;
    }

    .home_img img{
        display: none;
    }
}